
@{
    ViewBag.Title = "Menu";
}
<br /> 
<h2> Consumos </h2>

<br /> 
<br />
 <br />

<div class="list-group">
    <a href="./Index" class="list-group-item active">
        Historial de Consumos
    </a>
    <a href="#" class="list-group-item">Reportes creados sin resolver</a>
    
</div>