@{
    ViewBag.Title = "About";
}
<div id="page">
    <div id="content">
        <div class="box">
         
        </div>
        <h4> De que se trata?</h4>
       
        <p>
            AwareS es un sistema de inteligencia para la eficientización y corrección
            del sistema de Acueductos del país.
        </p>
        <p>
            Este se basa en la retroalimentación comunitaria, o “Social feed” como se
            define originalmente en ingles. En donde la meta principal de la comunidad
            es el reporte de averías y fugas, violación de contadores de agua, entre otros
            casos.
        </p>

        <h4> Objetivos  </h4>
        <ul> 
            <li>
                <p>
                    Reducir las pérdidas de agua en el sistema de acueductos de República Dominicana.
                </p>
            </li>
            <li>
                <p>
                    Mejorar la metodología actual de quejas y reclamaciones de la Institución encargada del sistema de acueductos.  
                </p> 
            </li>
            <li>
                <p>
                    Agilizar el proceso de reparación de las averías en las calles del país y visualizar las mediciones de consumo de agua.
                </p>
            </li>
            <li>
                <p>
                    Se pretende dotar a los miembros de una comunidad, de una aplicación o herramienta que les permita identificar y reportar 
                    las fugas de agua cuando esta escasea en su comunidad y verificar su consumo.
                </p>
            </li>

        </ul>

        <br class="clearfix" />
    </div>

    <br class="clearfix" />
</div>

