@{
    ViewBag.Title = "Contact";
}
<div id="page">
    <div id="content">
        <div class="box">
          
        </div>

       <h3>Programadores </h3>
        <ul>
            <li>Janel Cueto, Tel: 809-6055307 </li>
            <li>Amaury Peralta, Tel: 809-6065555 </li>
        </ul>
      
        
        @*<address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>*@

        <h3>Soporte T&eacutecnico</h3>
        <p> Puede comunicarse con nosotros a los siguientes correos electr&oacutenicos</p>
       
        <ul>
            <li>
                <a href="mailto:amauryperalta28@gmail.com">amauryperalta28@gmail.com</a><br />
            </li>
            <li>
                <a href="mailto:janelcueto@gmail.com">janelcueto@gmail.com</a>
            </li>
        </ul>
        
        <br class="clearfix" />
    </div>

    <br class="clearfix" />
</div>
