@{
    ViewBag.Title = "Consumos";
}


<div id="page">
    <div id="content">
        <div class="box">

        </div>

        <h2>Consumos</h2>


        @using (Html.BeginForm())
        {
            @*<p>
                Colaborador: @Html.DropDownList("colabFilter", "All")
                Mes: @Html.DropDownList("monthFilter", "All")
                Year: @Html.DropDownList("yearFilter", "All")
                <input type="submit" value="Filter" />
            </p>*@
        }

        

        <br class="clearfix" />
    </div>

    <br class="clearfix" />
</div>
