
@{
    ViewBag.Title = "Menu";
}

<div id="page">
    <div id="content">
        <div class="box">

        </div>
        <div class="list-group">
            <a href="./historialConsumosGeneral" class="list-group-item">
                Historial de Consumos general por Usuario/a&ntilde;o
            </a>
            <a href="./historialConsumosDetPorMes" class="list-group-item">Historial de Consumos detallado por Mes/Usuario</a>


        </div>


        <br class="clearfix" />
    </div>

    <br class="clearfix" />
</div>
